/*common style*/
body{
font-family: 'Lato' , 'sans-serif';
font-family: 'Open Sans', sans-serif;
}
.textp{
    color:  #FD6E0A;
}
.btn-pri{
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: 0;
    font-size: 20px;
    padding: 15px 35px;
    font-weight: 700;
 }

 /*nav bar*/
nav{
    display: flex;
}
 .navtitle{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    align-items: center;
    }
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    align-items: center;
}
nav > ul{
    display: flex;
    align-items: center;
    
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/*headerstyle*/
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .propic{
    width: 500px;
}
